# python 3.8
# Install Cmake, Visual Studio
# If you cannot  install openmesh use: conda install -c conda-forge openmesh-python
# Use conda: conda install pytorch pytorch-cuda=11.8 -c pytorch -c nvidia
pyvista
streamlit
stpyvista 
torch
torch_geometric
numpy
matplotlib
cmake
openmesh
torch-scatter 
torch-cluster
torch-sparse